* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
body {
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #e5e5e5;
}
.container {
  width: 550px;
  margin: 100px auto;
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
  padding-right: 37px;
  padding-left: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff;
}
.header--logo {
  width: 31.306px;
  height: 26.218px;
}
.header--title {
  margin-left: 6px;
  font-size: 20.748px;
  font-weight: 700;
  letter-spacing: -2.075px;
}
.header--description {
  font-family: Inter;
  font-weight: 500;
  margin-left: auto;
}
.main {
  background-color: #fff;
  padding: 36px 37px 55px 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  color: #0d0d0d;
  text-indent: 11px;
}
.form--button {
  margin-top: 15px;
  grid-column: 1 / -1;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #711f8d 1.14%, #a818da 100%);
  color: #fff;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  letter-spacing: -1.6px;
}
.main--meme {
  position: relative;
  margin-top: 36px;
  width: 477px;
  min-height: 268px;
  border-radius: 2px;
  background: lightgray;
}
.meme--img {
  max-width: 477px;
  object-fit: cover;
}
.meme--setup {
  position: absolute;
  top: 16px;
}
.meme--punchline {
  position: absolute;
  bottom: 16px;
}

.meme--setup,
.meme--punchline {
  width: 477px;
  padding: 0 16px;
  color: #fff;
  font-family: Impact;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 1px #000000;
  -webkit-text-stroke: 1px #000000;
  text-align: center;
}
